<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>       
    <ion-title>Opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Quién soy</ion-label>
    <ion-input></ion-input>
    <ion-select placeholder="Voy a ser..." interface="popover"
                #authorSelect
                [ngModel]="selectedAuthor"
                (ionChange)="onAuthorChange(authorSelect.value)">
      <ion-select-option *ngFor="let author of authorList" [value]="author.authorId">{{author.name}}</ion-select-option>
    </ion-select>    
  </ion-item>
</ion-content>
